@model Forum.Models.Forum.ForumIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to forum about ice cream</h1>
    <p>Choose forum for your favorite ice cream</p>
</div>
@if ((Context.User.Identity.IsAuthenticated) && (!(Model.User.EmailConfirmed)))
{
    <h3 class="text-center">
        End your email verification to see the content or we can send email verification
        <a asp-controller="Home" asp-action="Verification" asp-route-id="@Model.User.Id">
            again
        </a>
    </h3>
}
else
{
    @if (Model.ForumList.Any())
    {
        @if (Context.User.Identity.IsAuthenticated)
        {

            <div class="row">
                <div class="col">
                    <span>
                        <a asp-controller="Forum" asp-action="Create" class="btn btn-info">
                            New forum
                        </a>
                    </span>
                </div>
            </div>
        }
        <table id="forumIndexTable" class="table table-hover">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                                @forum.Name
                            </a>
                        </td>
                        <td>
                            @forum.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">
            There are no forums here. Register to create a new one.
        </h3>
    }
}